
<div class="head_left">
    <img src="/images/header/tleft.png" alt="">
</div>
<header class="header_box">
    <ul class="header_list">
        <li class="header_list_item" id="goHome">
<!--            <a href="/home" class="header_list_item_a">-->
                <img src="/images/header/a.png" alt="">
<!--            </a>-->
        </li>
        <li class="header_list_item" id="goBack">
            <img src="/images/header/b.png" alt="">
        </li>
        <li class="header_list_item" id="exit">
            <img src="/images/header/c.png" alt="">
        </li>
    </ul>
</header>

