<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div id="container"></div>
</body>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/model/three.js"></script>
<script src="/javascripts/model/OrbitControls.js"></script>
<script src="/javascripts/model/OBJLoader.js"></script>
<script src="/javascripts/model/MTLLoader.js"></script>
<script src="/javascripts/model/SkyShader.js"></script>
<script src="/javascripts/model/model.js"></script>
</html>
